<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-check"></span>
                Votease
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/polls">Polls</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard">Welcome,
                    <% if (!user) { %>
                Guest
            <% } else if (user.google.token) { %>
                 <%= user.google.name.split(" ")[0] %>
            <% } else if (user.facebook.token) { %>
                <%= user.facebook.name.split(" ")[0] %>
            <% } else {%>
                    <%= user.local.email %>
                    <% } %>
            </a></li>
        </ul>

    </div>
</nav>