<!-- views/partials/head.ejs -->
<!doctype html>
<html>
<head>
    <title>FCC Polling App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/public/assets/styles.css"> <!-- Local stylesheet -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/client/chroma.min.js"></script>
    <style>
        body        { padding-top:10px; }
    </style>
</head>