<!-- views/about.ejs -->
<% include ../partials/head %>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>FCC Voting Fullstack Project</h1>
    </div>
    <div>
        <h2>User Stories</h2>
        <b>As an authenticated user</b>
        <ul>
        <li>I can keep my polls and come back later to access them.</li>

        <li>I can share my polls with my friends.</li>

        <li>I can see the aggregate results of my polls.</li>

        <li>I can delete polls that I decide I don't want anymore.</li>

        <li>I can create a poll with any number of possible items.</li>

        <li>If I don't like the options on a poll, I can create a new option.</li>
        </ul>


        <b>As an unauthenticated or authenticated user</b>
        <ul>
        <li>I can see and vote on everyone's polls.</li>

        <li>I can see the results of polls in chart form. (This could be implemented using Chart.js or Google Charts.)</li>

        </ul>

    </div>

</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>