<!-- views/about.ejs -->
<% include ../partials/head %>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Votease</h1>
        <h2>A Fullstack Project for Free Code Camp</h2>
        <h3>Technologies</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    Node.js
                    <img src="https://cdn2.iconfinder.com/data/icons/nodejs-1/512/nodejs-512.png" width="100">
                </div>
                <div class="col-sm-3">
                    One of three columns
                </div>
                <div class="col-sm-3">
                    One of three columns
                </div>
                <div class="col-sm-3">
                    HTML5
                    <img src="https://www.w3.org/html/logo/downloads/HTML5_Badge_64.png">
                </div>
            </div>
        </div>

        <ul>

            <li>Mongo</li>
            <li>Express</li>
            <li>Mongoose</li>
            <li>EJS Templating</li>
            <li>Bootstrap</li>
            <li>CSS</li>
            
            <li>Github</li>
            <li>Heroku</li>
            <li>mLab</li>
            <li>Nodemon</li>
            <li>Passport</li>
        </ul>
    </div>
    <div>
        <h2>User Stories</h2>
        <b>As an authenticated user</b>
        <ul>
        <li>I can keep my polls and come back later to access them.</li>

        <li>I can share my polls with my friends.</li>

        <li>I can see the aggregate results of my polls.</li>

        <li>I can delete polls that I decide I don't want anymore.</li>

        <li>I can create a poll with any number of possible items.</li>

        <li>If I don't like the options on a poll, I can create a new option.</li>
        </ul>


        <b>As an unauthenticated or authenticated user</b>
        <ul>
        <li>I can see and vote on everyone's polls.</li>

        <li>I can see the results of polls in chart form. (This could be implemented using Chart.js or Google Charts.)</li>

        </ul>

    </div>

</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>