<!-- <!-- views/profile.ejs -->
<% include ../partials/head %>
<body>
<header>
    <% include ../partials/header %>
</header>

<div class="container">
    <div class="jumbotron page-header text-center"><h2><span class="fa fa-anchor"></span> Dashboard Page</h2>

        <a href="/poll/user/<%= user._id %> " class="btn btn-default btn-sm">My Polls</a>
        <a href="/profile" class="btn btn-default btn-sm">My Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>

    </div>


<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>